@using MagSeguros.Enums
@model FuncionarioModel
@{
    ViewData["Title"] = "Editar funcionario";
}

<div class="text-center">

    <h1 class="display-4">Editar funcionario</h1>

</div>

<form asp-controller="Funcionario" asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
        @Html.ValidationMessageFor(nome => nome.Nome)
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control">
        @Html.ValidationMessageFor(email => email.Email)
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control">
        @Html.ValidationMessageFor(login => login.Login)
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecionar</option>
            <option value="@PerfilEnum.Admin">Administrado</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(perfil => perfil.Perfil)
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-controller="Funcionario" asp-action="Index" role="button">Voltar</a>
</form>