@using MagSeguros.Enums
@model FuncionarioModel
@{
    ViewData["Title"] = "Editar funcionario";
}

<div class="text-center">

    <h1 class="display-4">Editar funcionario</h1>

</div>

<form asp-controller="Funcionario" asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row align-items-center">
        <div class="col">
            <div class="mb-3">
                <label for="nome" class="form-label font-weight-bolders">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" minlenght="3" placeholder="Isabella Ruffi">
                @Html.ValidationMessageFor(nome => nome.Nome)
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">E-mail</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="funcionario@email.com">
                @Html.ValidationMessageFor(email => email.Email)
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">Login</label>
                <input type="text" asp-for="Login" class="form-control" placeholder="isaruffi">
                @Html.ValidationMessageFor(login => login.Login)
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">Perfil</label>
                <select asp-for="Perfil" class="form-control">
                    <option value="">Selecionar</option>
                    <option value="@PerfilEnum.Admin">Administrador</option>
                    <option value="@PerfilEnum.Padrao">Padrão</option>
                </select>
                @Html.ValidationMessageFor(perfil => perfil.Perfil)
            </div>

            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary mr-2">Editar</button>
                <a class="btn btn-secondary" asp-controller="Funcionario" asp-action="Index" role="button">Voltar</a>
            </div>
        </div>

        <div class="col">
            <img width="450" src="~/assets/new-employee-animate.svg" />
        </div>
    </div>
</form>