@model List<SeguradoModel>
@{
    ViewData["Title"] = "Listagem de Segurado";
}

<style>
    table thead th, table tbody td, table tbody th {
        text-align: center !important;
    }
</style>

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Segurado" asp-action="Criar">Cadastrar Segurado</a>
    </div>

    <br />

    @if (TempData["MenssagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MenssagemSucesso"]
        </div>
    }

    @if (TempData["MenssagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MenssagemErro"]
        </div>
    }

    <h1 class="mb-4">Listagem de Segurados</h1>

    <table class="table" id="tb-segurados">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Premio</th>
                <th scope="col">Parcela</th>
                <th scope="col">Email</th>
                <th scope="col">Beneficiário</th>
                <th scope="col">CPF<br />Beneficiário</th>
                <th scope="col">Editar/Apagar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach(SeguradoModel segurado in Model)
                {
                    <tr>
                        <td>@segurado.Nome</td>
                        <td>@segurado.Cpf</td>
                        <td>@segurado.Premio</td>
                        <td>@segurado.Parcela</td>
                        <td>@segurado.Email</td>
                        <td>@segurado.NomeBeneficiario</td>
                        <td>@segurado.CpfBeneficiario</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@segurado.Id" asp-controller="Segurado" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@segurado.Id" asp-controller="Segurado" asp-action="ConfirmarApagar">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum segurado encontrado</td></tr>
            }
        </tbody>
    </table>
</div>